* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  color: goldenrod;
  /* color: #f5f5dc; */
  /* background-color: #f5f5dc; */
  /* background-image: url(assets/bg.png); */
  background-image: url(assets/sky.jpg);
  background-color: black;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: contain; */
  /* background-size: 100%; */
  /* border: solid red; */
  /* width: 100%; */
  /* height: auto; */
  /* position: relative; */
}

#page {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;

  border: solid red;
  /* width: 80rem; */
  height: 100vh;
  margin: auto;
}

#castle {
  position: fixed;
  bottom: 0;
  z-index: -1;
  /* max-width: 40rem; */
  height: 50%;
  /* width: auto; */
  /* opacity: 0.75; */
}

p {
  font-weight: 600;
  font-size: larger;
}

.escondido {
  display: none;
}

.tela {
  margin: 0 auto;
  max-width: 600px;
}

button {
  padding: 10px 20px;
  margin: 15px;
  font-size: 1em;
  cursor: pointer;
}

img {
  height: 300px;
  width: auto;
}